<ion-view view-title="登录页" class="ion-view-bg">
    <ion-content  ng-keydown="keyDown($event)">
        <div class="list padding" id="container" style="border-radius:3px;width: 550px; margin:auto; margin-top:15%;">
            <div class="list padding">
                <label class="item SourceHanSansFontBlod" style="text-align:center">本地链管理系统登录</label>
                <label class="item item-input">
                    <span class="input-label SourceHanSansCN" style="color:#5C6166;">账号:</span>
                    <input class="SourceHanSansCN" id="loginname" ng-model="userInfo.loginname" type="text" placeholder="注册邮箱/用户名" style="line-height: 34px;" ng-focus="slideUp()" ng-blur="slideDown()">
                </label>
                <label class="item item-input">
                    <span class="input-label SourceHanSansCN" style="color: #5C6166;">密码:</span>
                    <input class="SourceHanSansCN" id="loginpsd" ng-model="userInfo.loginpsd" type="password" placeholder="登录密码" style="line-height: 34px;" ng-focus="slideUp()" ng-blur="slideDown()">
                </label>
                <div class="positive-bg" style="border-radius:3px; height: 50px;">
                    <a class="button button-block button-clear SourceHanSansCN" style="line-height: 2.5em; color:#FFFFFF;font-size:1.4em;" ng-click="login(userInfo.loginname,userInfo.loginpsd)">登录</a>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>