<div class="modal fade" data-backdrop="false" style="width:100%; top:20px;bottom:20px;"background-color:rgba(0,0,0,0);">
    <div class="modal-dialog" style="margin-top:0;margin-bottom:0;height:100%;">
        <div class="modal-content" style="height:100%;">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title SourceHanSansCN" style="text-align:center;">货架列表</h4>
            </div>
            <div class="modal-body" style="position:absolute;top:56px;bottom:0;left:0;right:0;padding:0;">
                <div class="bar bar-header item-input-inset">
                    <label class="item-input-wrapper" style="margin:0;">
                        <i class="icon ion-ios-search placeholder-icon"></i>
                        <input type="search" placeholder="搜索货架" ng-model="searchWord" ng-keydown="searchShelf(searchWord,$event)">
                    </label>
                    <a class="button button-clear" style="color:rgba(0,0,0,0.9);" ng-click="searchShelf(searchWord,{keyCode:13})">
                        搜索
                    </a>
                </div>
                <ion-content class="has-header" style="bottom:0;">
                    <ion-refresher pulling-text="下拉更新..." on-refresh="shelfListRefresh()" spinner="ios"></ion-refresher>
                    <a class="item" ng-repeat="shelf in shelfList" style="line-height: 60px;" ng-click="setShelf(shelf)">
                        {{shelf.title}}
                        <img ng-src="{{cargo.faceImgUrl|imgCdnFilter}}" style="max-height:60px;float:right;" ng-repeat="cargo in shelf.cargos" />
                    </a>
                    <ion-infinite-scroll on-infinite="shelfListLoadMore()" ng-if="shelfListShowInfinite" distance="1%" spinner="ios">
                    </ion-infinite-scroll>
                    <div class="item borderLess SourceHanSansCN backColor" style="text-align:center;" ng-hide="shelfListShowInfinite">
                        没有更多啦
                    </div>
                </ion-content>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->