<div class="modal fade" id="cutPictureModal" data-backdrop="false" style="height:100%;width:100%; top:20px;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">上传图片</h4>
            </div>
            <div class="modal-body" style="padding:3px;">
                <div class="upload-demo" data-tap-disabled="true" scroll="false">
                    <div class="upload-msg" style="margin-left:auto;">
                        请上传图片                       
                    </div>
                    <div id="upload-demo" class="croppie-container" style="padding:0px;"></div>
                    <div class="item" style="border:none;text-align: center;padding-top: 0px;">
                        <div class="btn btn-default" ngf-select="preUpload($file)" style="margin-right:10px;">选择上传图片</div>
                        <div class="btn btn-default" ng-disabled="cutPicFlag" ng-click="clickEl()" style="padding: 6px 23px;">裁剪</div>
                    </div>
                </div>
                <!--<div class="item row" style="border:0px;margin:0px;">
                    <select class="form-control col-50" style="margin-right:15px;" ng-model="currentScale" ng-change="scaleChange()" ng-options="x.value as x.name for x in cutScales">
                        <option value="">-选择裁剪比例-</option>
                    </select>
                    <div class="input-group col-50">
                        <span class="input-group-addon">
                           图片宽度
                        </span>
                        <input type="text" ng-model="viewportWidth" class="form-control" />
                    </div>
                </div>
                <div class="panel panel-default" style="margin: 20px;">
                    <div class="panel-heading" style="color:red;"><span style="color:red;">*&nbsp;</span>须知</div>
                    <div class="panel-body">
                        <ul>
                            <li>
                                封面图片比例可通过上述下拉框选择,请确认当前比例正确<br />
                                默认图片宽度符合绝大多数应用场景,<span style="color:red;">无需修改</span>
                            </li>
                        </ul>
                    </div>
                </div>-->
            </div>
            <div class="modal-footer" style="padding:5px;">
                <div class="btn btn-primary" ng-click="upload()">上传</div>
            </div>
        </div>
    </div>
</div>
