    <!-- 编辑弹出窗 -->
<div class="modal fade" id="mumCategoryCity" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-tap-disabled="true" style="width:100%;background-color:rgba(0,0,0,0);top:20px;">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">新增城市名</h4>
            </div>
            <div class="modal-body">
                <div class="list">
                    <label class="item item-input">
                        <span class="input-label"><span style="color:red;">*&nbsp;</span>类别名称：</span>
                        <input type="text" ng-model="categoryContent.name" placeholder="填写城市名称">
                    </label>
                    <label class="item item-input">
                        <span class="input-label"><span style="color:red;">*&nbsp;</span>城市区号：</span>
                        <input type="text" ng-model="categoryContent.uid" placeholder="城市id，填写区号，例如：027">
                    </label>
                    <label class="item item-input">
                        <span class="input-label"><span style="color:red;">*&nbsp;</span>指向地区：</span>
                        <input type="text" ng-model="categoryContent.regionId" placeholder="城市代号名，例如：wuhan ">
                    </label>
                    <label class="item item-input">
                        <span class="input-label"><span style="color:red;">*&nbsp;</span>城市坐标：</span>
                        <input type="text" ng-model="categoryContent.descripiton" placeholder="例如：[33,114]，注意是纬度,经度">
                    </label>
                    <label class="item item-input">
                        <span class="input-label">类别图标：</span>
                        <input type="text" ng-model="categoryContent.icon" placeholder="填写类别在前端显示的图标，例如 icon-food">
                    </label>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary" ng-click="createNode()">确定</button>
            </div>
        </div>
    </div>
</div>
