<div class="modal fade cargoStandardModal" style="height:100%;width:100%;top:20px;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">规格设置</h4>
            </div>
            <div class="modal-body" style="padding:3px;min-height:400px;">
                <ion-content style="top:0;">
                    <label class="item item-input mum-label">
                        <span class="input-label"><span style="color:red;">*&nbsp;</span>规格：</span>
                        <input type="text" ng-model="editData.cargoStandard.name" placeholder="填入规格名称">
                    </label>
                    <label class="item item-input mum-label">
                        <span class="input-label"><span style="color:red;">*&nbsp;</span>规格描述：</span>
                        <input type="text" ng-model="editData.cargoStandard.content" placeholder="填入规格描述">
                    </label>
                    <label class="item item-input mum-label">
                        <span class="input-label"><span style="color:red;">*&nbsp;</span>数量：</span>
                        <input type="text" ng-model="editData.cargoStandard.amount" placeholder="填入数量">
                    </label>
                    <label class="item item-input mum-label">
                        <span class="input-label"><span style="color:red;">*&nbsp;</span>库存</span>
                        <input type="text" ng-model="editData.cargoStandard.repertory" placeholder="填入当前规格剩余可售库存">
                    </label>
                    <label class="item item-input mum-label">
                        <span class="input-label"><span style="color:red;">*&nbsp;</span>原价：</span>
                        <input type="text" ng-model="editData.cargoStandard.originalPrice" placeholder="填入规格原价">
                    </label>
                    <label class="item item-input mum-label">
                        <span class="input-label"><span style="color:red;">*&nbsp;</span>售价：</span>
                        <input type="text" ng-model="editData.cargoStandard.promotionPrice" placeholder="填入售价">
                    </label>
                    <label class="item item-input mum-label">
                        <span class="input-label"><span style="color:red;"></span>官方团购价：</span>
                        <input type="text" ng-model="editData.cargoStandard.groupPirce" placeholder="官方团购价">
                    </label>
                    <label class="item item-input mum-label">
                        <span class="input-label"><span style="color:red;"></span>结伴购价：</span>
                        <input type="text" ng-model="editData.cargoStandard.regimentPrice" placeholder="填入结伴购价">
                    </label>
                    <label class="item item-input mum-label">
                        <span class="input-label"><span style="color:red;"></span>今日特惠价：</span>
                        <input type="text" ng-model="editData.cargoStandard.specialPrice" placeholder="填入今日特惠价">
                    </label>
                    <label class="item item-input mum-label">
                        <span class="input-label"><span style="color:red;"></span>代理佣金：</span>
                        <input type="text" ng-model="editData.cargoStandard.commissionPrice" placeholder="填入代理佣金">
                    </label>
                </ion-content>
            </div>
            <div class="modal-footer" style="padding:5px;">
                <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="confirmCargoStandard(editData.cargoStandard)">确认</button>
            </div>
        </div>
    </div>
</div>
