<div class="modal fade shopModal" style="width:100%; top:20px;bottom:20px;">
    <div class="modal-dialog" style="margin-top:0;margin-bottom:0;height:100%;">
        <div class="modal-content" style="height:100%;">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">商品列表</h4>
            </div>
            <div class="modal-body" style="position:absolute;top:56px;bottom:0;left:0;right:0;padding:0;">
                <div class="bar bar-header item-input-inset">
                    <label class="item-input-wrapper" style="margin:0;background-color:#fff;">
                        选择类别：<select ng-model="searchParams.cargoType" ng-options="m.uid as m.name for m in $$commericalCargoType"></select>
                    </label>
                    <label class="item-input-wrapper" style="margin:0;background-color:#fff;">
                        搜索模式:
                        <select ng-model="searchParams.eSearchPattern">
                            <option value="1">忽略是否审核</option>
                            <option value="2">审核通过商品</option>
                            <option value="3">未审核商品</option>
                        </select>
                    </label>
                </div>
                <div class="bar bar-header item-input-inset">
                    <label class="item-input-wrapper" style="margin:0;">
                        <i class="icon ion-ios-search placeholder-icon"></i>
                        <input type="search" placeholder="搜索商品" ng-model="searchParams.searchword" ng-keydown="searchCargo(searchParams,$event)">
                    </label>
                    <a class="button button-clear" style="color:rgba(0,0,0,0.9);" ng-click="searchCargo(searchParams,{keyCode:13})">
                        搜索
                    </a>
                </div>               
                <ion-content class="has-header" style="bottom:49px;top:90px;">
                    <ion-refresher pulling-text="下拉更新..." on-refresh="cargoListRefresh()" spinner="ios"></ion-refresher>
                    <a class="item item-thumbnail-left" ng-repeat="cargo in cargoList" ng-click="addCargo(cargo)" ng-class="{'select':chooseCargo[cargo.objectId]}">
                        <img ng-src="{{cargo.faceImgUrl|imgCdnFilter}}">
                        <h2>{{cargo.title}}</h2>                       
                        <p>{{cargo.content}}</p>
                    </a>
                    <ion-infinite-scroll on-infinite="cargoListLoadMore()" ng-if="cargoListShowInfinite" immediate-check="false" distance="1%" spinner="ios"></ion-infinite-scroll>
                    <div class="item borderLess SourceHanSansCN backColor" style="text-align:center;" ng-hide="cargoListShowInfinite">
                        没有更多啦
                    </div>
                </ion-content>
                <ion-footer-bar style="background-color:#ef473a;">
                    <h1 class="title SourceHanSansCN" style="color:#ffffff;" ng-click="closeModal(chooseCargo)">确认</h1>
                </ion-footer-bar>
            </div>           
        </div>
    </div>
</div>
