<div class="modal fade" id="detailModal" style="width:100%;top:40px;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">帖子详情</h4>
            </div>
            <div class="modal-body" ng-bind-html="content">
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" style="color:red;"><span style="color:red;">*&nbsp;</span>审核须知</div>
                <div class="panel-body">
                    <ul>
                        <li>
                            用户可以在本地链平台发布对服务的购买体验、评价等信息，并可对其进行适当的修改、删除，但不得在本地链平台发布包含以下内容的言论：
                        </li>
                        <li>
                            A）反对宪法所确定的基本原则，煽动、抗拒、破坏宪法和法律、行政法规实施的；<br />
                            B）煽动颠覆国家政权，推翻社会主义制度，煽动、分裂国家，破坏国家统一的；<br />
                            C）损害国家荣誉和利益的；<br />
                            D）煽动民族仇恨、民族歧视，破坏民族团结的；<br />
                            E）任何包含对种族、性别、宗教、地域内容等歧视的；<br />
                            F）捏造或者歪曲事实，散布谣言，扰乱社会秩序的；<br />
                            G）宣扬封建迷信、邪教、淫秽、色情、赌博、暴力、凶杀、恐怖、教唆犯罪的；<br />
                            H）公然侮辱他人或者捏造事实诽谤他人的，或者进行其他恶意攻击的；<br />
                            I）损害国家机关信誉的；<br />
                            J）其他违反宪法和法律行政法规的。<br />
                            用户在本地链平台发布的信息，均代表用户的观点，与本地链无关，用户须对其言论独立承担完全的法律责任。<br />
                        </li>
                    </ul>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">确定</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->