<div class="example-button-row" style="margin-top:20px;margin-bottom:10px;">
    <button mat-raised-button color="primary" style="width:150px;" (click)="view()">
        获取楼宇
    </button>
    <button mat-raised-button color="primary" style="width:150px; margin-left:50px;" (click)="addly()">
        添加楼宇
    </button>
</div>
<mat-divider></mat-divider>
<mat-table #lytable [dataSource]="dataSource" class="mat-elevation-z8">
  <!-- Position Column -->
  <ng-container matColumnDef="ID">
    <mat-header-cell *matHeaderCellDef> ID </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.ID}} </mat-cell>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef> 名称 </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="address">
    <mat-header-cell *matHeaderCellDef> 楼宇地址 </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.address}} </mat-cell>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="street">
    <mat-header-cell *matHeaderCellDef> 所属街道 </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.street}} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="volume">
    <mat-header-cell *matHeaderCellDef> 建筑体量 </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.volume}} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="floor_area">
    <mat-header-cell *matHeaderCellDef> 标准层面积 </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.floor_area}} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="floor_height">
    <mat-header-cell *matHeaderCellDef> 楼层净高 </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.floor_height}} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="passager_num">
    <mat-header-cell *matHeaderCellDef> 客梯数量 </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.passager_num}} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="parking_num">
    <mat-header-cell *matHeaderCellDef> 停车位 </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.parking_num}} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="rental">
    <mat-header-cell *matHeaderCellDef> 月租金 </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.rental}} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="property_fee">
    <mat-header-cell *matHeaderCellDef> 物业管理费 </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.property_fee}} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="vacant_area">
    <mat-header-cell *matHeaderCellDef> 空置面积 </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.vacant_area}} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="settled">
    <mat-header-cell *matHeaderCellDef> 已入驻企业 </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.settled}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="操作">
    <mat-header-cell *matHeaderCellDef> 操作 </mat-header-cell>
    <mat-cell *matCellDef="let element">     
        <!--<button mat-raised-button color="primary" style="width:50px;">编辑</button>
        &nbsp;-->
        <button mat-raised-button color="primary" style="width:50px;">删除</button>
    </mat-cell>   
  </ng-container> 

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>