<!--data-tap-disable="true"-->
<ion-view view-title="新建特惠" class="ion-view-bg">
    <ion-content>
        <div style="width:650px;margin:20px auto;text-align:center;background-color:#fff;">
            <img class="img-responsive center-block" style="padding-top:10px;padding-bottom: 10px;width:145px;height:145px;" ng-src="{{buyOffer.faceImgUrl|imgCdnFilter}}" />
            <a ng-click="cutFaceImgUrlPicture()" class="btn btn-default" style="margin:10px;">点击上传特惠封面</a>
            <div class="form-horizontal" style="border-top: 1px solid #ddd;padding: 20px;">
                <table class="table table-striped">
                    <tr>
                        <td>选择城市</td>
                        <td><select class="form-control" ng-model="buyOffer.regionId" ng-options="city.cityRegionId as city.cityName group by city.provinceName for city in cityList"><option value="">-- 选择城市 --</option></select></td>
                    </tr>
                    <tr>
                        <td><button class="btn  btn-primary" style="margin: auto;" ng-click="chooseCargo()">选择参团商品</button></td>
                        <td>{{buyOffer.cargo.name || buyOffer.cargo.title}}</td>
                    </tr>
                    <tr>
                        <td><button class="btn  btn-primary" style="margin: auto;" ng-click="chooseStandard()">选择/编辑特惠规格</button></td>
                        <td>{{buyOffer.standard.name}}</td>
                    </tr>
                    <tr>
                        <td>特惠价</td>
                        <td>{{buyOffer.standard.buyOfferPrice}}</td>
                    </tr>
                    <tr>
                        <td>开始时间</td>
                        <td>
                            <div class="input-group">
                                <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                                <input id="buyOfferStartTime" placeholder="点击选择开始时间" ng-model="newExCargo.startTime" class="col-sm-10 form-control" type="datetime-local" style="text-align:center; display:inline;padding: 0px 5px;border: 1px solid #ccc;border-radius: 4px;">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>结束时间</td>
                        <td>
                            <div class="input-group">
                                <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                                <input id="buyOfferEndTime" placeholder="点击选择开始时间" ng-model="newExCargo.endTime" class="col-sm-10 form-control" style="text-align:center; display:inline;padding: 0px 5px;border: 1px solid #ccc;border-radius: 4px;">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>提供总数</td>
                        <td><input type="number" ng-model="buyOffer.maxNum" class="form-control" style="padding: 0px 5px;border: 1px solid #ccc;border-radius: 4px;" /></td>
                    </tr>
                </table>
            </div>
        </div>
    </ion-content>
    <div class="mum-footer">
        <button class="btn btn-primary" ng-click="exPurchasePost(buyOffer)" style="display:inline;width:10%;margin:15px auto;">提交</button>
    </div>
</ion-view>