<ion-view view-title="{{modelText}}" class="ion-view-bg">
    <ion-content class="has-header">
        <div style="width:600px;position:relative;margin:30px auto;text-align:center;background-color:#fff;">
            <table class="table table-striped">
                <tr>
                    <td style="line-height:2.3;"><span style="color:red;">*&nbsp;</span>口令文字</td>
                    <td><input type="text" placeholder="请输入口令文字" ng-model="command.words"></td>
                </tr>
                <tr>
                    <td style="line-height:2.3;"><span style="color:red;">*&nbsp;</span>最低折扣</td>
                    <td><input type="text" placeholder="请输入最低折扣，例如：0.6，表示6折" ng-model="command.minDiscount"></td>
                </tr>
                <tr>
                    <td style="line-height:2.3;"><span style="color:red;">*&nbsp;</span>最高折扣</td>
                    <td><input type="text" placeholder="请输入最高折扣，例如：0.8，表示8折" ng-model="command.maxDiscount"></td>
                </tr>
                <tr>
                    <td style="line-height:2.3;"><span style="color:red;">*&nbsp;</span>起始时间</td>
                    <td>
                        <div class="input-group">
                            <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                            <input class="form-control" style="text-align:center; display:inline;" placeholder="请设置起始时间" id="passwordStartTime" ng-model="command.startTime">
                        </div>
                    </td>
                </tr>
                <tr>
                    <td style="line-height:2.3;"><span style="color:red;">*&nbsp;</span>结束时间</td>
                    <td>
                        <div class="input-group">
                            <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                            <input class="form-control" style="text-align:center; display:inline;" placeholder="请设置结束时间" id="passwordEndTime" ng-model="command.endTime">
                        </div>
                    </td>
                </tr>
                <tr>
                    <td><a class="btn btn-primary" ng-click="openShopModal()">选择店铺</a></td>
                    <td style="line-height:2.3;">{{command.shopName}}</td>
                </tr>
                <tr>
                    <td><a class="btn btn-primary" ng-click="openCargoModal()">选择商品</a></td>
                    <td style="line-height:2.3;"><span ng-repeat="cargo in cargoList">{{cargo.name||cargo.title}};</span></td>
                </tr>
            </table>
        </div>
    </ion-content>
    <div class="mum-footer">
        <button type="button" class="btn btn-primary" ng-click="sumitCommand()" style="display:block;width:10%;margin:15px auto;">创建</button>
    </div>
</ion-view>