<!--data-tap-disable="true"-->
<ion-view view-title="口令活动" class="ion-view-bg">
    <div class="bar bar-header" style="margin-top:10px;top:44px;">
        <!--<label class="item item-input">
            <i class="icon ion-search placeholder-icon"></i>
            <input type="text" placeholder="搜索口令" ng-model="searchWords" ng-keydown="searchCargo(searchWords,$event)">
        </label>-->
        <!--<button class="button btn-primary SourceHanSansCN" style="width:100px;color:#fff;left:10px;" ng-click="searchCargo(searchWords,{keyCode:13})">
            搜索
        </button>-->
        <a class="btn btn-success SourceHanSansCN" style="width:100px;margin-right:30px;color:#fff;position:absolute;right:10px;" ng-click="goToPopularizeDetail()">
            增加口令
        </a>
    </div>
    <ion-content class="has-subheader" style="bottom:0;background-color:#f7f7f7;margin-top:10px;">
        <ion-refresher pulling-text="下拉更新..." on-refresh="commandListRefresh()" spinner="ios"></ion-refresher>
        <div class="row" style="flex-wrap:wrap;-webkit-flex-wrap:wrap;margin:0;background-color:white;padding:0px;">
            <div class="col col-33" ng-repeat="command in commandList">
                <div class="card" style="padding-left:10px;padding-top:10px;" ng-click="goToPopularizeDetail(command)">
                    <p>口令：{{command.words}}</p>
                    <p>开始时间：{{command.startTime}}</p>
                    <p>结束时间：{{command.endTime}}</p>
                </div>
            </div>
        </div>
        <!--<a class="item" ng-repeat="command in commandList" ng-click="setShop(shop)">
            {{command.words}}
        </a>-->
        <ion-infinite-scroll on-infinite="commandListLoadMore()" ng-if="commandListShowInfinite" immediate-check=false spinner="ios"></ion-infinite-scroll>
        <div class="item-content center-block" style="text-align:center;" ng-hide="commandListShowInfinite">
            <p style="font-family:'Microsoft YaHei';font-size:16px;">没有更多啦</p>
        </div>
    </ion-content>
</ion-view>