<!--data-tap-disable="true"-->
<ion-view view-title="货架编辑" class="ion-view-bg">
    <ion-content style="margin-bottom:60px;">
        <div style="width:720px;margin:20px auto;text-align:center;background-color:#fff;">
            <!--表单-->
            <div class="form-horizontal" style="border-top: 1px solid #ddd;padding: 20px;">
                <table class="table table-striped">
                    <tr>
                        <td>
                            <img ng-src="{{shelf.headImgUrl|imgCdnFilter}}" style="width:257px;height:145px; margin-left:auto;margin-right:auto;">
                            <p style="margin:10px 0 0 0;text-align:center;">
                                <a class="btn btn-primary" role="button" ng-click="cutHeadImgUrl()">上传封面图片(头图)</a>
                            </p>
                        </td>
                        <td>
                            <img ng-src="{{shelf.faceImgUrl|imgCdnFilter}}" style="width:145px;height:145px; margin-left:auto;margin-right:auto;">
                            <p style="margin:10px 0 0 0;text-align:center;">
                                <a class="btn btn-primary" role="button" ng-click="cutFaceImgUrl()">上传封面图片(缩略图)</a>
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td style="line-height:2.3;">货架名称：</td>
                        <td>
                            <input type="text" ng-model="shelf.title" class="form-control" style="padding: 0px 5px;border: 1px solid #ccc;border-radius: 4px;" />
                        </td>
                    </tr>
                    <tr>
                        <td style="line-height:2.3;">货架描述：</td>
                        <td>
                            <input type="text" ng-model="shelf.content" class="form-control" style="padding: 0px 5px;border: 1px solid #ccc;border-radius: 4px;" />
                        </td>
                    </tr>
                    <tr>
                        <td style="line-height:2.3;">选择城市：</td>
                        <td>
                            <select class="form-control" ng-model="shelf.regionId" ng-options="city.cityRegionId as city.cityName group by city.provinceName for city in cityList">
                                <option value="">-- 选择货架可用的城市 --</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div ng-click="chooseShop()" class="btn btn-primary">选择店铺</div>
                        </td>
                        <td style="line-height:2.3;">
                            <div>{{shelf.shop.name||shelf.shop.title}}</div>
                        </td>
                    </tr>
                    <tr>
                        <td style="line-height:2.3;">添加货架商品</td>
                        <td><button class="btn btn-default btn-group" ng-click="addShelfCargo()">选择</button></td>
                    </tr>
                </table>
            </div>

            <div class="flex flex-hw">
                <div class="card" style="width:160px;height:230px;" ng-repeat="cargo in cargos">
                    <div class="innerhover">
                        <div class="mum-inner-masker" style="width:160px;height:230px; border-radius:3px;">
                            <div style="line-height:230px;">
                                <i class="icon ion-android-delete text-center" style="font-size:36px;color:#fff;" ng-click="deleteCargo(cargo)"></i>
                            </div>
                        </div>
                        <img ng-src="{{cargo.faceImgUrl|imgCdnFilter}}" style="width:160px;">
                        <label style="margin:8px;">{{cargo.title || cargo.name}}</label>
                    </div>
                    <div style="bottom:0px;">
                        <select class="form-control" ng-model="cargo.selectStandardObjectId" ng-options="standard.objectId as standard.name for standard in cargo.standards" style="border:none;">
                            <option value="">-- 选择商品规格 --</option>
                        </select>
                    </div>
                </div>
            </div>

        </div>



    </ion-content>
    <div class="mum-footer">
        <button ng-if="model==1" class="btn btn-primary" ng-click="shelfPost()" style="width:10%;margin:15px auto;display:inline;">提交</button>
        <!--修改-->
        <button ng-if="model==2" class="btn btn-primary" ng-click="modify()" style="width:10%;margin:15px auto;display:inline;">修改</button>
        <!--删除-->
        <button ng-if="model==2" class="btn btn-danger" ng-click="delete(shelf.objectId)" style="width:10%;margin:15px auto;display:inline;">删除</button>
    </div>
</ion-view>
