<!--data-tap-disable="true"-->
<ion-view view-title="视频发布" class="ion-view-bg">
    <ion-content>
        <div class="item" style="margin:20px 20px 0px 20px;border-bottom:none;">
            <span class="SourceHanSansCN">视频介绍店铺</span>
            <button ng-click="chooseShop()" style="float:right;" class="btn btn-default">选择店铺</button>
        </div>
        <div class="item" style="margin:0px 20px;">
            <span ng-show="!newShop.objectId" class="SourceHanSansCN" style="float:left;">目前尚未选中店铺</span>
            <div class="button-bar fontVisiable" ng-show="!!newShop.objectId" style="padding-bottom: 10px;">
                <div class="button button-clear" style="background-position: center;background-repeat: no-repeat;background-size:contain;background-image:url({{newShop.faceImgUrl|imgCdnFilter}})"></div>
                <div class="button button-clear" data-toggle="tooltip" data-placement="top" title="{{newShop.name}}">{{newShop.name}}</div>
                <div class="button button-clear" data-toggle="tooltip" data-placement="top" title="{{newShop.description}}">{{newShop.description}}</div>
                <div class="button button-clear" data-toggle="tooltip" data-placement="top" title="{{newShop.objectId}}">{{newShop.objectId}}</div>
                <button class="button button-clear" style="color:lightseagreen" ng-click="getCargo()">选择对应商品</button>
            </div>
            <div class="button-bar fontVisiable" ng-show="!!newCargo.objectId" style="border-top: 1px solid #ddd;">
                <div class="button button-clear" style="background-position: center;background-repeat: no-repeat;background-size:contain;background-image:url({{newCargo.faceImgUrl|imgCdnFilter}})"></div>
                <div class="button button-clear" data-toggle="tooltip" data-placement="top" title="{{newCargo.name}}">{{newCargo.name}}</div>
                <div class="button button-clear" data-toggle="tooltip" data-placement="top" title="{{newCargo.content}}">{{newCargo.content}}</div>
                <div class="button button-clear" data-toggle="tooltip" data-placement="top" title="{{newCargo.objectId}}">{{newCargo.objectId}}</div>
                <div class="button button-clear"></div>
            </div>
        </div>

        <div class="item form-inline" style="margin:20px;">   
            <p>检索:</p>        
            <div class="form-group">
                <label>视频类型</label>
                <select class="form-control" ng-model="eshoptype" style="margin-right:10px;">
                    <option value="">-- 选择视频类型 --</option>
                </select>
            </div>
            <div class="form-group">
                <label>视频来源</label>
                <select class="form-control" ng-model="evideoSource" ng-change="typeChange(evideoSource,'esource')" ng-options="type.value as type.name for type in EvideoSources" style="margin-right:10px;">
                    <option value="">-- 选择视频来源 --</option>
                </select>
            </div>
            <button ng-click="videoListRefresh()" class="btn btn-default" style="float:right;margin-left:10px;">刷新视频列表</button>
            <button ng-click="createVidoe(newShop.objectId, newCargo.objectId,newShop.regionId)" class="btn btn-success" style="float:right;">创建视频</button>
        </div>
        <div class="item" style="padding:0px;margin:20px;">
            <div class="button-bar SourceHanSansCN">
                <a class="button">视频封面</a>
                <a class="button">视频标题</a>
                <a class="button">视频描述</a>
                <a class="button">操作</a>
            </div>
        </div>
        <div class="list" style="margin:20px;height:400px;overflow-y:auto;overflow-x:hidden;">
            <div class="item" style="padding: 16px 0px;" ng-repeat="video in videoList">
                <div class="button-bar fontVisiable">
                    <div class="button button-clear" style="background-position: center;background-repeat: no-repeat;background-size:contain;background-image:url({{video.faceImgUrl|imgCdnFilter}})"></div>
                    <div class="button button-clear" data-toggle="tooltip" data-placement="top" title="{{video.title}}">{{video.title}}</div>
                    <div class="button button-clear" data-toggle="tooltip" data-placement="top" title="{{video.content}}">{{video.content}}</div>
                    <div class="button button-clear">
                        <a class="button button-clear SourceHanSansFontBlod" ng-click="modifyVideo(newShop.objectId, newCargo.objectId,video)" style="color:darkslategray; width:100%; z-index:999;">查看详情</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="button-bar" ng-show="videoList.length>0">
            <div class="button button-clear" ng-click="videoListLoadMore()" style="border: 1px solid #999;color: #999;margin: 0px 20px;">查看更多视频</div>
        </div>
    </ion-content>
</ion-view>
