<ion-view view-title="{{model}}" class="ion-view-bg">
    <ion-content class="has-header">
        <div class="list">
            <div class="item" ng-click="setFaceImage()">
                <img ng-src="{{cargo.faceImgUrl|imgCdnFilter}}" style="max-height:200px;">
            </div>
            <label class="item item-input">
                <span class="input-label"><span style="color:red;">*&nbsp;</span>商品名称：</span>
                <input type="text" placeholder="填入商品名称" ng-model="cargo.name">
            </label>
            <label class="item item-input" ng-click="openShopModal()">
                <span class="input-label"><span style="color:red;">*&nbsp;</span>选择店铺：</span>
                <p>{{cargo.shopName}}</p>
            </label>
            <!--商品类型-->
            <label class="item item-input">
                <span class="input-label">
                    <span style="color:red;">*&nbsp;</span>
                    类别
                </span>
                <select ng-model="cargo.cargoType" ng-options="m.uid as m.name for m in $$commericalCargoType">
                    <option value="">-请选择商品类别-</option>
                </select>
            </label>
            <!--<label class="item item-input">
                <span class="input-label">
                    <span style="color:red;">*&nbsp;</span>
                    是否审核
                </span>
                <select ng-model="cargo.checkFlag" ng-options="x.value as x.label for x in flag.check"></select>
            </label>-->
            <label class="item item-input">
                <span class="input-label"><span style="color:red;">*&nbsp;</span>计量单位：</span>
                <input type="text" ng-model="cargo.measureUnit" placeholder="如：斤，米">
            </label>
            <label class="item item-input">
                <span class="input-label"><span style="color:red;">*&nbsp;</span>运费：</span>
                <input type="text" ng-model="cargo.postagePrice" placeholder="运费">
            </label>
            <!--<label class="item item-input">
                <span class="input-label">
                    <span style="color:red;">*&nbsp;</span>
                    所在仓库
                </span>
                <select ng-model="cargo.dispatchPlace" ng-options="m.uid as m.name for m in $$commercialWhareHouse"></select>
            </label>
            <label class="item item-input">
                <span class="input-label">
                    <span style="color:red;">*&nbsp;</span>
                    地区
                </span>
                <select ng-model="cargo.regionId" ng-options="city.cityRegionId as city.cityName group by city.provinceName for city in $$commercialMarketCity">
                    <option value="all">all</option>
                    <option value="wuhan">wuhan</option>
                </select>
            </label>-->
            <!--<label class="item item-input">
                <span class="input-label"><span style="color:red;">*&nbsp;</span>售卖城市：</span>
                <input type="text" ng-model="cargo.onlyCity" placeholder="售卖城市">
            </label>
            <label class="item item-input">
                <span class="input-label"><span style="color:red;">*&nbsp;</span>禁售城市：</span>
                <input type="text" ng-model="cargo.forbiddenCity" placeholder="禁售城市">
            </label>-->
            <div class="item item-input">
                <span class="input-label" style="font-weight:bold;">
                    <span style="color:red;">*&nbsp;</span>
                    规格
                </span>
                <select ng-model="editData.cargoStandard" ng-options="x.name for x in cargo.cargoStandards">
                    <option value=""></option>
                </select>
                <button ng-click="openCarogStandardModal()">新建规格</button>
            </div>
            <div class="item item-divider">商品画册</div>
            <div style="min-height:300px;background-color:rgb(128, 128, 128)">
                <img ng-src="{{img|imgCdnFilter}}" style="max-width:200px;" ng-repeat="img in cargo.album" ng-click="changeCargoAlbum($index)" />
                <button ng-click="addCargoAlbum()">增加画册</button>
            </div>
            <div class="item item-divider">商品描述</div>
            <textarea style="height:100px;width:100%;" placeholder="商品描述" ng-model="cargo.content"></textarea>
            <div class="item item-divider">商品展示（html）</div>
            <textarea style="height:100px;width:100%;" placeholder="商品描述" ng-model="cargo.meticulousContent"></textarea>
            <div class="item item-divider">售后</div>
            <textarea style="height:100px;width:100%;" placeholder="售后" ng-model="cargo.afterSale"></textarea>
            <div class="item item-divider">规格参数</div>
            <textarea style="height:100px;width:100%;" placeholder="规格参数" ng-model="cargo.standardContent"></textarea>
        </div>
    </ion-content>
    <ion-footer-bar>
        <h1 class="title" ng-click="sumitCargo()">提交</h1>
    </ion-footer-bar>
</ion-view>