<ion-view view-title="店铺管理" class="ion-view-bg">

    <ion-content style="padding:10px 10px 0px 20px;margin-top:54px;" >
        <div style="width:600px;position:relative;margin-left:auto;margin-right:auto; margin-top:20px;"  ng-mouseover="mouseover=true"ng-mouseleave="mouseover=false;" ng-show="hasShops">
            <div style="position:relative;height:450px;width:600px;">
                <img ng-src="{{shopDetailData.faceImgUrl|imgCdnFilter}}" style="position:absolute;z-index:-1;width:100%;" />
                <div style="position:absolute;bottom:0px;background-color:rgba(255, 255, 255,0.8);width:100%;padding:4px 0 4px 4px;">
                    <h3 class="SourceHanSansCN" style="margin-bottom:5px;font-size:18px;color:rgba(0,0,0,0.9);">{{shopDetailData.name}}</h3>
                    <div class="SourceHanSansCN" style="font-size:14px;color:rgba(0,0,0,0.4);">
                        <mum-star star="shopDetailData.score"></mum-star>&nbsp;&nbsp; {{shopDetailData.eshopType|typeFilter}}
                    </div>
                </div>
            </div>
            <div class="item SourceHanSansCN hasDivider" style="white-space:normal;font-size:15px;color:rgba(0,0,0,0.6);width:600px;">
                地址：{{shopDetailData.address||"暂无地址"}}
            </div>
            <div class="item SourceHanSansCN hasDivider" style="white-space:normal;font-size:15px;color:rgba(0,0,0,0.6);width:600px;">
                座机：{{shopDetailData.telephone||'暂无座机号码'}}
            </div>
            <div class="item SourceHanSansCN hasDivider" style="white-space:normal;font-size:15px;color:rgba(0,0,0,0.6);width:600px;">
                手机：{{shopDetailData.mobilephone||'暂无手机号码'}}
            </div>
            <div style="position:absolute;height:100%;width:100%;top:0;z-index:999;background-color:#C66262" ng-show="mouseover">
                <i class="icon ion-edit edit-button" style="font-size:50px;margin-left:35%;top:40%;position:relative;color:#F4F4F4" ng-click="editShop()">修改</i>
            </div>
        </div>
        <button class="button button-positive  button-full" ng-hide="hasShops">
            您暂时还没有商家，赶快联系我们入驻吧
        </button>
    </ion-content>

    <!-- 模态框（Modal） -->
    <div class="modal fade" id="editShopModal" tabindex="-10" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-tap-disabled="true" style="width:100%;background-color:rgba(0, 0, 0,0);top:20px;overflow-y:visible;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">编辑商家</h4>
                </div>
                <div class="modal-body" style="text-align:center;">
                    <img ng-src={{shopDetailData.faceImgUrl|imgCdnFilter}} ng-click="imageOpen()" style="width:280px;height:210px; margin-left:auto;margin-right:auto;" />
                    <div class="progress" style="width:280px;height:2px; margin-left:auto;margin-right:auto;">
                        <div id="shopImgProgress" class="progress-bar" role="progressbar" style="width:0%;">
                        </div>
                    </div>
                    <div class="btn btn-default" ng-click="cut()">选择上传图片</div>
                    <p class="SourceHanSansCN" style="font-size:14px; margin-top:15px;text-align:left;">店铺资料</p>
                    <div class="list SourceHanSansCN">
                        <label class="item item-input">
                            <span class="input-label"><span style="color:red;">*&nbsp;</span>店名：</span>
                            <input type="text" placeholder="请输入店名" ng-model="editShopData.name">
                        </label>
                        <label class="item item-input">
                            <span class="input-label"><span style="color:red;">*&nbsp;</span>地址：</span>
                            <input type="text" placeholder="请输入商铺地址" ng-model="editShopData.address">
                        </label>
                        <div class="row item" style="margin-left:0px;">
                            <label class="item item-input col" style="display:flex;">
                                <span class="input-label"><span style="color:red;">*&nbsp;</span>经度：</span>
                                <input type="text" placeholder="请输入商铺经度(数：114.0)" ng-model="location[1]">
                            </label>
                            <label class="item item-input col" style="display:flex;">
                                <span class="input-label"><span style="color:red;">*&nbsp;</span>纬度：</span>
                                <input type="text" placeholder="请输入商铺纬度（数：40.1）" ng-model="location[0]">
                            </label>
                        </div>
                        <label class="item item-input">
                            <div class="input-label">
                                <span style="color:red;">*&nbsp;</span>
                                店铺类型
                            </div>
                            <select ng-model="editShopData.eshopType" ng-options="x.uid as x.name for x in $$commericalShopTypes">
                            </select>
                        </label>
                        <label class="item item-input">
                            <div class="input-label">
                                <span style="color:red;">*&nbsp;</span>
                                店铺服务种类
                            </div>
                            <select ng-model="editShopData.emerchantType" ng-options="x.uid as x.name for x in $$commericalMerchantType"></select>
                        </label>
                        <label class="item item-input">
                            <span class="input-label"><span style="color:red;">*&nbsp;</span>手机号：</span>
                            <input type="text" placeholder="请输入您的手机号码" ng-model="editShopData.mobilephone">
                        </label>
                        <label class="item item-input">
                            <span class="input-label">座机号：</span>
                            <input type="text" placeholder="请输入您的座机" ng-model="editShopData.telephone">
                        </label>
                        <label class="item item-input">
                            <span class="input-label">经营范围：</span>
                            <input type="text" placeholder="请输入经营范围" ng-model="editShopData.serviceScope">
                        </label>
                        <label class="item item-input">
                            <span class="input-label">微信公众号：</span>
                            <input type="text" placeholder="请输入店铺微信公众号" ng-model="editShopData.weiXin">
                        </label>
                        <label class="item item-input">
                            <span class="input-label">店铺简介：</span>
                            <input type="text" placeholder="请输入店铺简介" ng-model="editShopData.description">
                        </label>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary" ng-click="sumitShopData()">确定修改</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</ion-view>
