<ion-view view-title="订单管理" class="ion-view-bg">
    <ion-content data-tap-disable="false">
        <div class="row"  ng-repeat="order in orders">
            <div class="col col-80">
                <a class="item item-thumbnail-left">
                    <img ng-src="{{order.goods[0].cargoFaceImgUrl?imgUrl+order.goods[0].cargoFaceImgUrl:'resource/img/nopic.jpg'}}">
                    <h2>{{order.merchantCargoName}}&nbsp;&nbsp;&nbsp;&nbsp;{{order.measureCount||'1'}}&nbsp;x&nbsp;{{order.totalPayPrice}}元</h2>
                    <span class="item-note SourceHanSansCN lightGray">{{order.orderState|orderStatusFilter:order.flag}}</span>
                    <p>购货人:&nbsp;{{order.address[4]}} &nbsp;&nbsp;&nbsp;  联系电话:&nbsp;{{order.address[5]||'空号'}}</p>
                    <p>送货地址:&nbsp;{{order.address[0]+order.address[1]+order.address[2]+order.address[3]||'缺失'}}</p>
                    <p>{{order.date}} {{order.time}}</p>
                </a>
            </div>
            <div class="col col-20">
                <div style="display:flex;height:100%;align-items:center;">
                    <button class="button button-positive" style="margin-right:10px;" ng-disabled="order.orderState!=21" ng-click="deliverOrder(order)">
                       发货
                    </button>
                    <button class="button button-positive" ng-disabled="!(order.orderState>= 21 && order.orderState< 22)" ng-click="refuseOrder(order)">
                       拒单
                    </button>
                </div>
            </div>
        </div>             
        <ion-infinite-scroll ng-if="!noMoreItemsAvailable" on-infinite="loadMore()" immediate-check=false distance="1%" spinner="ios"></ion-infinite-scroll>
        <div class="item borderLess SourceHanSansCN backColor" style="text-align:center;" ng-show="noMoreItemsAvailable">
            没有订单了
        </div>        
    </ion-content>
    <!--拒绝订单框-->
    <div class="modal fade" tabindex="-1" role="dialog" id="refuseOrderModal" style="width:100%;top:40px;">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">拒绝订单</h4>
                </div>
                <div class="modal-body">
                    <textarea style="height:100px;width:100%;" placeholder="拒绝原因"></textarea>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-primary" ng-click="sumitRefuseOrder()">确定</button>
                </div>
            </div>
        </div>
    </div>
    <!--发货框-->
    <div class="modal fade" tabindex="-1" role="dialog" id="deliverOrderModal" style="width:100%;top:40px;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">发货</h4>
                </div>
                <div class="modal-body">
                    <div class="item item-input">
                        <div class="input-label">
                            <span style="color:red;">*&nbsp;</span>
                            选择取货方式
                        </div>
                        <select ng-model="deliverOrderData.waybill" ng-options="EWaybill[key] as value for (key,value) in ChoseEWaybil">                           
                        </select>
                    </div>
                    <div class="item item-input" ng-show="deliverOrderData.waybill!=-1">
                        <span class="input-label"><span style="color:red;">*&nbsp;</span>请输入订单号：</span>
                        <input type="text" ng-model="deliverOrderData.waybillNumber">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-primary" ng-click="sumitDeliverOrder()">确定</button>
                </div>
            </div>
        </div>
    </div>
</ion-view>
