<ion-view view-title="查看评论" class="ion-view-bg">
    <ion-content style="padding:10px 10px 0px 20px">
        <div class="item item-avatar" ng-repeat="review in reviews">
            <img ng-src="{{review.faceImgUrl?imgUrl+review.faceImgUrl:'resource/images/iconfont-denglu.png'}}">
            <span class="item-note SourceHanSansCN" style="font-size:10px;color:rgba(0,0,0,0.3);">{{review.date|dateTimeFilter:review.time}}</span>
            <h2 style="font-size:15px;color:rgba(0,0,0,0.9);">{{review.alienName||review.authorName}}</h2>
            <p class="SourceHanSansCN" style="font-size:13px;color:rgba(0,0,0,0.6);white-space:normal;">
                {{review.content}}
            </p>
        </div>
        <div class="button button-full item SourceHanSansFontBlod" style="border-radius:5px; margin-top:0;background-color:#11C1F3;color:white;" ng-click="loadMore()">
            点击查看更多...
        </div>
    </ion-content>
</ion-view>
