<ion-view view-title="地块管理" class="ion-view-bg">
    <!--形如表格顶部栏-->
    <div class="bar bar-header" style="margin-top:10px;top:44px;">
        <label class="item item-input">
            <i class="icon ion-search placeholder-icon"></i>
            <input type="text" placeholder="检索地块">
        </label>
        <button class="button dark-bg SourceHanSansCN" style="width:100px;color:white; left:10px;">
            搜索
        </button>
        <button class="button calm-bg SourceHanSansCN" style="width:100px; left:410px;color:white;" ng-click="openactivityModal()">
            添加地块列表
        </button>
    </div>
    <ion-content style="padding:10px 10px 0px 20px;margin-top:54px;">
        <div class="button-bar SourceHanSansCN">
            <a class="button">地块名称</a>
            <a class="button">地块类型</a>
            <a class="button">操作</a>
        </div>
        <!--数据列表-->
        <div class="list">
            <div ng-repeat="activity in activities" class="item">
                <div class="button-bar">
                    <div class="button button-clear">{{activity.content}}</div>
                    <div class="button button-clear">{{activity.activityType|typeFilter}}</div>
                    <div class="button button-clear">
                        <button class="button button-clear SourceHanSansFontBlod" style="color:darkslategray; width:100px; z-index:999;" ng-click="modify(activity)">修改</button>
                        <button class="button button-clear SourceHanSansFontBlod" style="color:darkslategray; width:100px; z-index:999;" ng-click="delete(activity)"> 删除</button>
                    </div>
                </div>
            </div>
            <div class="button button-full item SourceHanSansFontBlod" style="margin-top:0;background-color:#11C1F3;color:white;" ng-click="showMoreActivity()">
                点击查看更多...
            </div>
        </div>
    </ion-content>

    <div class="modal fade" id="activityModal" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel" aria-hidden="true" data-tap-disabled="true" style="width:100%;background-color:rgba(0,0,0,0);top:20px;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close"
                            data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title">
                        增加活动
                    </h4>
                </div>
                <div class="modal-body">
                    <label class="item item-input">
                        <span class="input-label"><span style="color:red;">*&nbsp;</span>起始时间：</span>
                        <input type="datetime-local" style="height:auto;" ng-model="activityData.startTime">
                    </label>
                    <label class="item item-input">
                        <span class="input-label"><span style="color:red;">*&nbsp;</span>结束时间：</span>
                        <input type="datetime-local" style="height:auto;" ng-model="activityData.endTime">
                    </label>
                    <label class="item item-input">
                        <span class="input-label"><span style="color:red;">*&nbsp;</span>活动描述：</span>
                        <input type="text" ng-model="activityData.content">
                    </label>
                    <div class="item item-divider"></div>

                    <div>

                        <ul class="nav nav-tabs nav-justified" id="activityTabs">
                            <li role="presentation"><a href="#DAZHE" aria-controls="DAZHE" role="tab" data-toggle="tab">打折</a></li>
                            <li role="presentation"><a href="#MANJIAN" aria-controls="MANJIAN" role="tab" data-toggle="tab">满减</a></li>
                            <li role="presentation"><a href="#MAISONG" aria-controls="MAISONG" role="tab" data-toggle="tab">买送</a></li>
                        </ul>

                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane fade active in" id="DAZHE">

                                <table class="table table-striped">
                                    <tr>
                                        <td><span style="color:red;">*&nbsp;</span>1</td>
                                        <td><span style="color:red;">*&nbsp;</span>活动折扣</td>
                                        <td><input type="text" style="width:100%;" ng-model="activityData.discountNum" placeholder="输入 0 -1 之间的值，代表折扣范围，例如：0.8代表8折" /></td>
                                    </tr>
                                </table>

                            </div>
                            <div role="tabpanel" class="tab-pane fade" id="MANJIAN">

                                <table class="table table-striped">
                                    <tr>
                                        <td>1</td>
                                        <td><span style="color:red;">*&nbsp;</span>满减条件</td>
                                        <td><input type="text" style="width:100%;" ng-model="activityData.threshold" placeholder="输入 达到满减金额条件，例如：500，代表满500额度条件"></td>
                                    </tr>
                                    <tr>
                                        <td>2</td>
                                        <td><span style="color:red;">*&nbsp;</span>优惠额度</td>
                                        <td><input type="text" style="width:100%;" ng-model="activityData.reduce" placeholder="输入优惠额度，例如：60，即满500-60"></td>
                                    </tr>
                                </table>

                            </div>
                            <div role="tabpanel" class="tab-pane" id="MAISONG">
                                <table class="table table-striped">
                                    <tr>
                                        <td>1</td>
                                        <td><span style="color:red;">*&nbsp;</span>满减条件</td>
                                        <td><input type="text" style="width:100%;" ng-model="activityData.threshold" placeholder="输入 达到满减金额条件，例如：500，代表满500额度条件"></td>
                                    </tr>
                                    <tr>
                                        <td>2</td>
                                        <td><span style="color:red;">*&nbsp;</span>赠送物品描述</td>
                                        <td><input type="text" style="width:100%;" ng-model="activityData.freeCargoDescription" placeholder="输入赠送物品描述，例如：送花一盆"></td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-default"
                                data-dismiss="modal">
                            关闭
                        </button>
                        <button type="button" class="btn btn-primary" ng-click="sumiteActivity()">
                            提交活动
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</ion-view>
