<!--data-tap-disable="true"-->
<ion-view view-title="订单管理" class="ion-view-bg">
    <div class="bar bar-header" style="margin-top:10px;top:44px;">
        <label class="item item-input">
            <i class="icon ion-search placeholder-icon"></i>
            <input type="text" placeholder="搜索订单" ng-model="searchWords" ng-keydown="searchOrder(searchWords,$event)">
        </label>
        <button class="btn btn-primary SourceHanSansCN" style="width:100px;color:white; left:10px;" ng-click="searchOrder(searchWords,{keyCode:13})">
            搜索
        </button>
    </div>
    <ion-content class="has-subheader" style="bottom:0;background-color:#f7f7f7;margin-top:10px;">
        <ion-refresher pulling-text="下拉更新..." on-refresh="orderListRefresh()" spinner="ios"></ion-refresher>

        <div class="item" style="padding:0px;margin:20px;">
            <div class="button-bar SourceHanSansCN">
                <a class="button">订单编号</a>
                <a class="button">订单状态</a>
                <a class="button">日期</a>
                <a class="button">收货人/电话</a>
                <a class="button">相关店铺</a>
                <a class="button">操作</a>
            </div>
        </div>

        <div class="list" style="margin:20px; margin-top:0px;">

            <div class="item" style="padding: 16px 0px;" ng-repeat="order in orderList">
                <div class="button-bar fontVisiable">
                    <div class="button button-clear" data-toggle="tooltip" data-placement="top" title="{{order.tradeNo}}">{{order.tradeNo}}</div>
                    <div class="button button-clear" data-toggle="tooltip" data-placement="top" title="{{order.eOrderState|orderStatusFilter}}">{{order.eOrderState|orderStatusFilter}}</div>
                    <div class="button button-clear" data-toggle="tooltip" data-placement="top" title="{{order.date+order.time}}">{{order.date+" "+order.time}}</div>
                    <div style="color:cadetblue; font-weight:600;" class="button button-clear" data-toggle="tooltip" data-placement="top" title="{{order.snapshootAddress}}">{{order.snapshootAddress.split('|')[4]+" / "+order.snapshootAddress.split('|')[5]}}</div>
                    <div class="button button-clear" data-toggle="tooltip" data-placement="top" title="{{order.title}}">{{order.title}}</div>
                    <!--已付款订单，提供：发货，拒单功能-->
                    <div class="button button-clear">
                        <a class="button button-clear SourceHanSansFontBlod" ng-click="goToOrderDetail(order)" style="color:darkslategray; z-index:999;">查看详情</a>
                    </div>
                </div>
            </div>

        </div>

        <ion-infinite-scroll on-infinite="orderListLoadMore()" ng-if="orderListShowInfinite" distance="1%" spinner="ios">

        </ion-infinite-scroll>

        <div class="item-content center-block" style="text-align:center;padding: 5px;font-size: 18px;" ng-hide="orderListShowInfinite || orderList.length == 0">
            没有更多啦
        </div>

    </ion-content>

</ion-view>