
<div fxLayout="row" fxLayoutAlign="space-between" fxLayoutAlign="center">
    <form fxLayout = "column" fxLayoutGap = "25px">
        <!-- 填充位 -->
        <div fxFlexFill></div>
        <!-- 标题 -->
        <h1 fxFlex="30px">汉阳云地图后台管理系统</h1>
        <!-- 用户名 -->
        <mat-form-field fxFlex="50px">
            <mat-label>用户名</mat-label>
            <input matInput placeholder="请输入用户名" [(ngModel)]="userName" [ngModelOptions]="{standalone: true}">
            <mat-hint align="start"><strong>请输入管理员账户名</strong> </mat-hint>
        </mat-form-field>
        <mat-form-field fxFlex="50px">
            <mat-label>密码</mat-label>
            <input matInput type="password" placeholder="请输入登录密码" [(ngModel)]="passWord" [ngModelOptions]="{standalone: true}">
            <mat-hint align="end"><strong>密码长度：0 / 8</strong> </mat-hint>
        </mat-form-field>
        <button mat-raised-button color = "primary" fxFlex="40px" (click)="onLogin()">登录</button>
    </form>
</div>