<!--data-tap-disable="true"-->
<ion-view view-title="用户管理" class="ion-view-bg">
    <!--形如表格顶部栏-->
    <div class="bar bar-header list list-inset has-header" style="margin-top:10px;top:44px;">
        <button class="button calm-bg SourceHanSansCN" style="width:200px; margin-left:30%;color:white;" ng-click="openBranchModal()">
            新增用户
        </button>
    </div>

    <ion-content style="padding:10px 10px 0px 20px;margin-top:54px;">
        <!--形如表格顶部栏-->
        <div class="button-bar SourceHanSansCN">
            <a class="button">管理名称</a>
            <a class="button">管理权限</a>
            <a class="button">管理员</a>
            <a class="button">管理员联系方式</a>
            <a class="button">管理员邮箱</a>
            <a class="button">操作</a>
        </div>
        <!--用户信息-->
        <div class="list">
            <div ng-repeat="userBranch in userBranchs" class="item">
                <div class="button-bar">
                    <div class="button button-clear" style="color:black;">{{userBranch.regionName}}</div>
                    <div class="button button-clear" style="color:black;">{{userBranch.regionId}}</div>
                    <div class="button button-clear" style="color:black;">{{userBranch.mandatedName}}</div>
                    <div class="button button-clear" style="color:black;">{{userBranch.mandatedPhone}}</div>
                    <div class="button button-clear" style="color:black;">{{userBranch.mandatedMailAddress}}</div>
                    <div class="button button-clear">
                        <button class="button button-clear SourceHanSansFontBlod" style="color:darkslategray; width:80px; z-index:999;" ng-click="openAdminModal(userBranch)" ng-bind="userBranch.mandatedObjectId?'修改管理员':'设置管理员'"></button>
                        <button class="button button-clear SourceHanSansFontBlod" style="color:darkslategray; width:80px; z-index:999;" ng-click="deleteBranch(userBranch)"> 删除用户</button>
                    </div>
                </div>
            </div>
            <div class="button button-full item SourceHanSansFontBlod" style="border-radius:5px; margin-top:0;background-color:#11C1F3;color:white;" ng-click="showMoreBranch()">
                点击查看更多...
            </div>
        </div>
    </ion-content>

    <!--创建用户-->
    <div class="modal fade" id="branchModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-tap-disabled="true" style="width:100%;background-color:rgba(0,0,0,0);top:20px;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title">
                        用户信息编辑
                    </h4>
                </div>
                <div class="modal-body">
                    <div class="list">
                        <!--<label class="item item-input">
                            <span class="input-label">账户信息:</span>
                            {{account.userName+" "+account.mailAddress}}
                        </label>
                        <div class="item item-divider"></div>-->

                        <label class="item item-input">
                            <span class="input-label"><span style="color:red;">*&nbsp;</span>用户名：</span>
                            <input type="text" ng-model="userBranchData.regionName">
                        </label>

                        <label class="item item-input">
                            <span class="input-label"><span style="color:red;">*&nbsp;</span>用户权限：</span>
                            <input type="text" ng-model="userBranchData.regionId">
                        </label>
                        <label class="item item-input">
                            <span class="input-label">用户描述：</span>
                            <input type="text" ng-model="userBranchData.descripiton">
                        </label>


                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">
                            关闭
                        </button>
                        <button type="button" class="btn btn-primary" ng-click="submitBranch()">
                            确认
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--分站管理账号设置-->
    <div class="modal fade" id="adminModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-tap-disabled="true" style="width:100%;background-color:rgba(0,0,0,0);top:20px;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title" ng-bind="adminData.mandatedObjectId?'用户修改':'用户设置'"></h4>
                </div>
                <div class="modal-body">
                    <div class="list">
                        <label class="item item-input">
                            <span class="input-label"><span style="color:red;">*&nbsp;</span>管理用户名：</span>
                            <input type="text" ng-model="adminData.mandatedName">
                        </label>

                        <label class="item item-input">
                            <span class="input-label"><span style="color:red;">*&nbsp;</span>管理用户邮箱：</span>
                            <input type="text" ng-model="adminData.mandatedMailAddress">
                        </label>
                        <label class="item item-input">
                            <span class="input-label"><span style="color:red;">*&nbsp;</span>管理用户手机号：</span>
                            <input type="text" ng-model="adminData.mandatedPhone">
                        </label>


                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">
                            关闭
                        </button>
                        <button type="button" class="btn btn-primary" ng-click="setBranchAdmin()">
                            确认
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</ion-view>