<ion-view view-title="{{model}}" class="ion-view-bg">
    <ion-content class="has-header">
        <div class="list">
            <div class="item" ng-click="setFaceImage()">
                <img ng-src="{{cargo.faceImgUrl|imgCdnFilter}}" style="max-height:200px;">
            </div>
            <label class="item item-input">
                <span class="input-label"><span style="color:red;">*&nbsp;</span>商品名称：</span>
                <input type="text" placeholder="填入商品名称" ng-model="cargo.name">
            </label>
            <!--商品类型-->
            <label class="item item-input">
                <span class="input-label">
                    <span style="color:red;">*&nbsp;</span>
                    类别
                </span>
                <select ng-model="cargo.cargoType" ng-options="m.uid as m.name for m in $$commericalCargoType">
                    <option value="">-请选择商品类别-</option>
                </select>
            </label>
            <label class="item item-input">
                <span class="input-label">
                    <span style="color:red;">*&nbsp;</span>
                    是否审核
                </span>
                <select ng-model="cargo.checkFlag" ng-options="x.value as x.label for x in flag.check"></select>
            </label>
            <label class="item item-input">
                <span class="input-label"><span style="color:red;">*&nbsp;</span>计量单位：</span>
                <input type="text" ng-model="cargo.measureUnit" placeholder="如：斤，米">
            </label>
            <label class="item item-input">
                <span class="input-label"><span style="color:red;">*&nbsp;</span>运费：</span>
                <input type="text" ng-model="cargo.postagePrice" placeholder="运费">
            </label>
            <label class="item item-input">
                <span class="input-label">
                    <span style="color:red;">*&nbsp;</span>
                    所在仓库
                </span>
                <select ng-model="cargo.dispatchPlace" ng-options="m.uid as m.name for m in $$commercialWhareHouse"></select>
            </label>
            <label class="item item-input">
                <span class="input-label">
                    <span style="color:red;">*&nbsp;</span>
                    地区
                </span>
                <select ng-model="cargo.regionId" ng-options="city.cityRegionId as city.cityName group by city.provinceName for city in $$commercialMarketCity">
                    <!--<option value="all">all</option>
                    <option value="wuhan">wuhan</option>-->
                </select>
            </label>
            <div class="item item-input">
                <span class="input-label" style="font-weight:bold;">
                    <span style="color:red;">*&nbsp;</span>
                    规格
                </span>
                <select ng-model="editData.cargoStandard" ng-options="x.name for x in cargo.cargoStandards">
                    <option value=""></option>
                </select>
                <button ng-click="openCarogStandardModal()">{{editData.cargoStandard?'修改规格':'新建规格'}}</button>
            </div>
            <div class="item item-divider">详情页</div>
            <div style="min-height:300px;background-color:rgb(128, 128, 128)">
                <img ng-src="{{img|imgCdnFilter}}" style="max-width:200px;" ng-repeat="img in cargo.album" ng-click="changeCargoAlbum($index)" />
                <button ng-click="addCargoAlbum()">新增</button>
            </div>
            <div class="item item-divider">商品展示</div>
            <div style="min-height:300px;background-color:rgb(128, 128, 128)">
                <img ng-src="{{img|imgCdnFilter}}" style="max-width:200px;" ng-repeat="img in cargoDisplay" ng-click="changeCargoDisplayPicture($index)" />
                <button ng-click="addCargoDisplayPicture(cargoDisplay)">新增</button>
            </div>
            <div class="item item-divider">商品描述</div>
            <textarea style="height:100px;width:100%;" placeholder="商品描述" ng-model="cargo.content"></textarea>
            <!--<div class="item item-divider">商品展示（html）</div>
            <textarea style="height:100px;width:100%;" placeholder="商品描述" ng-model="cargo.meticulousContent"></textarea>-->
            <div class="item item-divider">售后</div>
            <textarea style="height:100px;width:100%;" placeholder="售后" ng-model="cargo.afterSale"></textarea>
            <div class="item item-divider">规格参数</div>
            <textarea style="height:100px;width:100%;" placeholder="规格参数" ng-model="cargo.standardContent"></textarea>
        </div>
        <!--提交-->
        <button ng-if="modelFlag==1" ng-click="sumitCargo()" class="btn btn-primary btn-block" style="display:block;width:20%;margin:15px auto;">提交</button>
        <!--删除-->
        <button ng-if="modelFlag==2" ng-click="deleteCargo()" class="btn btn-danger btn-block" style="display:inline-block;width:20%;margin-left:20px;margin-bottom: 30px;">删除</button>
        <!--修改-->
        <button ng-if="modelFlag==2" ng-click="sumitCargo()" class="btn btn-primary btn-block" style="display:inline-block;width:20%;margin-left:20px;margin-bottom: 30px;">修改</button>
        <!--审核通过-->
        <button ng-if="modelFlag==2" ng-click="setCargoPass()" class="btn btn-primary btn-block" style="display:inline-block;width:20%;float:right;margin-right:20px;margin-bottom: 30px;">审核通过</button>
    </ion-content>
</ion-view>