<ion-view title="本地链" class="SourceHanSansFontBlod title" id="main" view-id="mainview">
    <ion-side-menus enable-menu-with-back-views="false">
        <!--左侧导航栏-->
        <ion-side-menu-content>
            <!--导航栏顶部-->
            <ion-nav-bar class="bar-stable">
                <ion-nav-back-button class="button-clear SourceHanSansCN ion-chevron-left">
                </ion-nav-back-button>
            </ion-nav-bar>
            <ion-nav-view name="menuContent">
                <ion-view>
                    <ion-content scroll="false">
                        <iframe src="resource/doc/help.htm" style="width:100%;height:100%;"></iframe>
                    </ion-content>
                </ion-view>
            </ion-nav-view>
        </ion-side-menu-content>
        <!--左侧导航栏内容-->
        <ion-side-menu side="left" width="300" is-enabled="true" expose-aside-when="large">
            <!--内容部分顶部标题栏-->
            <ion-header-bar class="bar-stable">
                <h2 class="SourceHanSansFontBlod title">本地链后台管理系统</h2>
            </ion-header-bar>
            <ion-content class="SourceHanSansCN">
                <ion-list>
                    <ion-item menu-open class="list-borderless">
                        <div class="item item-thumbnail-left text-center" href="#">
                            <img src={{faceImgUrl}}>
                            <br />
                            <p>你好，{{userInfo.userName}}</p>
                            <br />
                            <p>{{userInfo.mailAddress}}</p>
                        </div>
                    </ion-item>
                    <div class="row" style="margin:0;" ng-show="shops.length">
                        <div class="col" style="padding:11px 0 11px 10px;">
                            选择商家
                        </div>
                        <div class="dropdown col">
                            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                {{selectShopName | titleFilter}}
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                <li><a ng-repeat="shop in shops" ng-click="choseShop(shop)">{{shop.name | titleFilter}}</a></li>
                            </ul>
                        </div>
                    </div>
                    <div ng-repeat="group in Groups" menu-open>
                        <!--一级栏目-->
                        <ion-item class="item-stable SourceHanSansCN" style="border-color:#efeeee;background-color:#ffffff;" ng-click="toggleGroup(group)" ng-class="{active: isGroupShown(group)}">
                            <i class="icon" ng-class="isGroupShown(group) ? 'ion-minus' : 'ion-plus'"></i>{{group.text}}
                        </ion-item>
                        <!--二级栏目-->
                        <ion-item class="item-accordion item-icon-right SourceHanSansCN" style="border-color:#efeeee;" ng-repeat="item in group.items" ng-show="isGroupShown(group)" href="{{item.href}}">
                            {{item.text}}<i class="icon small ion-chevron-right"></i>
                        </ion-item>
                    </div>
                </ion-list>
            </ion-content>
            <ion-footer-bar align-title="center" style="text-align:center;font-size:13px; color:rgba(0,0,0,0.7);">
                <p style="text-align:center; width:100%;">Copyright@2016  穷人科技 版权所有<br />版本: v 2.0.1 </p>
            </ion-footer-bar>
        </ion-side-menu>
    </ion-side-menus>
</ion-view>
