<ion-view view-title="商户审核" class="ion-view-bg">
    <!--检索功能栏-->
    <div class="form-inline item" style="margin:20px;top:44px;">
        <div class="form-group" style="margin-right:10px;">
            <label for="searchname">检索</label>
            <input class="form-control" ng-model="searchword" ng-keydown="searchwordGet(searchword,$event)" style="width:220px;border: 1px solid #ccc;" type="text" id="searchname" placeholder="查找符合条件的商家" />
        </div>
        <div class="form-group">
            <label>店铺类型</label>
            <select class="form-control" ng-model="eshoptype" ng-change="chooseType(eshoptype)" ng-options="m.uid as m.name for m in $$commercialShopType" style="margin-right:10px;">
                <option value="">-- 店铺类型 --</option>
            </select>
        </div>
        <button class="btn btn-primary" ng-click="searchwordGet(searchword,{keyCode : 13})">搜索</button>
    </div>
    <ion-content  style="top:130px;">
        <ion-refresher pulling-text="下拉更新..." on-refresh="shopListRefresh()" spinner="ios"></ion-refresher>
        <!--数据列表-->
        <div class="item" style="padding:0px;margin:20px;">
            <div class="button-bar SourceHanSansCN">
                <a class="button">店铺缩略图</a>
                <a class="button">店铺名称</a>
                <a class="button">店铺描述</a>
                <a class="button">操作</a>
            </div>
        </div>
        <div class="list" style="margin:20px;">
            <div class="item" style="padding: 16px 0px;" ng-repeat="shop in shopList">
                <div class="button-bar fontVisiable">
                    <div class="button button-clear" style="background-position: center;background-repeat: no-repeat;background-size:contain;background-image:url({{shop.faceImgUrl|imgCdnFilter}})"></div>
                    <div class="button button-clear" data-toggle="tooltip" data-placement="top" title="{{shop.name}}">{{shop.name}}</div>
                    <div class="button button-clear" data-toggle="tooltip" data-placement="top" title="{{shop.description}}">{{shop.description}}</div>
                    <div class="button button-clear">
                        <a class="button button-clear SourceHanSansFontBlod" ng-click="goToShopDetail(shop)" style="color:darkslategray; width:100%; z-index:999;">查看详情</a>
                    </div>
                </div>
            </div>
        </div>
        <ion-infinite-scroll on-infinite="shopListLoadMore()" ng-if="shopListShowInfinite" immediate-check=false spinner="ios"></ion-infinite-scroll>
        <div class="item-content center-block" style="text-align:center;padding: 5px;font-size: 18px;" ng-hide="shopListShowInfinite || shopList.length == 0">
            没有更多啦
        </div>
        <div class="item-content center-block" ng-show="!shopList||shopList.length == 0" style="text-align: center;font-size: 24px;">
            目前尚未有店铺
        </div>
    </ion-content>
</ion-view>

