<ion-view view-title="工匠管理" class="ion-view-bg">
    <!--检索功能栏-->
    <div class="form-inline item" style="margin:20px;top:44px;">
        <div class="form-group" style="margin-right:10px;">
            <label for="searchname">检索</label>
            <input class="form-control" ng-model="searchword" ng-keydown="searchwordGet(searchword,$event)" style="width:220px;border: 1px solid #ccc;" type="text" id="searchname" placeholder="查找符合条件的商家" />
        </div>
        <div class="form-group">
            <label>工匠类型</label>
            <select class="form-control" ng-model="journeymanType" ng-change="chooseType(journeymanType)" ng-options="m.uid as m.name for m in $$convenienceJourneymanType" style="margin-right:10px;">
                <option value="">-- 工匠类型 --</option>
            </select>
        </div>
        <button class="btn btn-primary" ng-click="searchwordGet(searchword,{keyCode : 13})">搜索</button>
    </div>
    <ion-content style="top:130px;">
        <ion-refresher pulling-text="下拉更新..." on-refresh="workerListRefresh()" spinner="ios"></ion-refresher>
        <!--数据列表-->
        <div class="item" style="padding:0px;margin:20px;">
            <div class="button-bar SourceHanSansCN">
                <a class="button">工匠名称</a>
                <a class="button">申请时间</a>
                <a class="button">工匠类型</a>
                <a class="button">操作</a>
            </div>
        </div>
        <div class="list" style="margin:20px;">
            <div class="item" style="padding: 16px 0px;" ng-repeat="worker in workerList">
                <div class="button-bar fontVisiable">
                    
                    <div class="button button-clear" data-toggle="tooltip" data-placement="top" title="{{worker.name}}">{{worker.name}}</div>
                    <div class="button button-clear" data-toggle="tooltip" data-placement="top" title="{{worker.date}}">{{worker.date}}</div>
                    <div class="button button-clear" data-toggle="tooltip" data-placement="top" title="{{worker.journeymanType|typeFilter}}">{{worker.journeymanType|typeFilter}}</div>
                    <div class="button button-clear">
                        <a class="button button-clear SourceHanSansFontBlod" ng-click="goToWorkerDetail(worker)" style="color:darkslategray; width:100%; z-index:999;">查看详情</a>
                    </div>
                </div>
            </div>
        </div>
        <ion-infinite-scroll on-infinite="workerListLoadMore()" ng-if="workerListShowInfinite" immediate-check=false spinner="ios"></ion-infinite-scroll>
        <div class="item-content center-block" style="text-align:center;padding: 5px;font-size: 18px;" ng-hide="workerListShowInfinite || workerList.length == 0">
            没有更多啦
        </div>
        <div class="item-content center-block" ng-show="!workerList||workerList.length == 0" style="text-align: center;font-size: 24px;">
            目前尚未有工匠
        </div>
    </ion-content>    

</ion-view>