<!--data-tap-disable="true"-->
<ion-view view-title="视频发布" class="ion-view-bg">
    <!--检索功能栏-->
    <div class="form-inline item" style="margin:20px;top:44px;">
        <div class="form-group" style="margin-right:10px;">
            <label for="searchname">检索</label>
            <input class="form-control" ng-model="searchword" ng-keydown="searchwordGet(searchword,$event)" style="width:220px;border: 1px solid #ccc;" type="text" id="searchname" placeholder="输入关键字查找符合条件的专题" />
        </div>
        <button class="btn btn-primary" ng-click="searchwordGet(searchword,{keyCode : 13})">搜索</button>

        <a ng-click="createAnno()" style="float:right;background-color:#fd9934;border-color:#fd9934;padding: 6px 18px;" class="btn btn-primary">创建店铺</a>
    </div>
    <ion-content style="bottom:0px;top:130px;">
        <ion-refresher pulling-text="下拉更新..." on-refresh="messageListRefresh()" spinner="ios"></ion-refresher>
        <!--数据列表-->
        <div class="item" style="padding:0px;margin:20px;">
            <div class="button-bar SourceHanSansCN">
                <a class="button">公告封面</a>
                <a class="button">公告内容</a>
                <a class="button">提交时间</a>
                <a class="button">操作</a>
            </div>
        </div>
        <div class="list" style="margin:20px;">
            <div class="item" style="padding: 16px 0px;" ng-repeat="msg in messageList">
                <div class="button-bar fontVisiable">
                    <div class="button button-clear" style="background-position: center;background-repeat: no-repeat;background-size:contain;background-image:url({{msg.faceImgUrl|imgCdnFilter}})"></div>
                    <div class="button button-clear" data-toggle="tooltip" data-placement="top" title="{{msg.content}}">{{msg.content}}</div>
                    <div class="button button-clear" data-toggle="tooltip" data-placement="top" title="{{msg.date}}">{{msg.date}}</div>
                    <div class="button button-clear">
                        <a class="button button-clear SourceHanSansFontBlod" ng-click="modifyAnno(msg)" style="color:darkslategray; width:100%; z-index:999;">查看详情</a>
                    </div>
                </div>
            </div>
        </div>
        <ion-infinite-scroll on-infinite="messageListLoadMore()" ng-if="messageListShowInfinite" immediate-check=false spinner="ios"></ion-infinite-scroll>
        <div class="item-content center-block" style="text-align:center;padding: 5px;font-size: 18px;" ng-hide="messageListShowInfinite || messageList.length == 0">
            没有更多啦
        </div>
        <div class="item-content center-block" ng-show="!messageList||messageList.length == 0" style="text-align: center;font-size: 24px;">
            目前尚未有帖子
        </div>
    </ion-content>
</ion-view>
