<h1 mat-dialog-title>新增用户组</h1>
<div mat-dialog-content>
  <mat-form-field class="example-full-width">
    <span matPrefix>用户名称 &nbsp;</span>
    <input matInput [(ngModel)]="data.groupName" placeholder="用户名称">
  </mat-form-field>
  <br>
  <mat-form-field class="example-full-width">
    <span matPrefix>用户级别 &nbsp;</span>
    <input matInput [(ngModel)]="data.level" placeholder="用户级别">
  </mat-form-field>
  <br>
  <mat-form-field class="example-full-width">
    <span matPrefix>用户描述 &nbsp;</span>
    <input matInput [(ngModel)]="data.description" placeholder="用户描述">
  </mat-form-field>
  <br>
</div>
<div mat-dialog-actions>
  <button mat-raised-button (click)="onNoClick()">关闭</button>
  <button mat-raised-button  [mat-dialog-close]="data"  cdkFocusInitial  color="primary" >提交</button>
</div>



