<!--data-tap-disable="true"-->
<ion-view view-title="今日团购" class="ion-view-bg">
    <!--检索栏-->
    <div class="form-inline item" style="margin:20px;top:44px;">
        <a class="btn btn-default" ng-click="chooseShop()" style="margin-left:auto;margin-right:auto;">选择社区店铺，获取列表</a>
        <span class="SourceHanSansCN" style="padding:0px 10px;">已选商店：{{shop.name}}<span ng-show="!shop.name">尚未选择</span></span>
        <a class="btn btn-success" style="float:right;" href="#/main/community/groupPurchaseCreate">新建团购</a>
    </div>
    <div class="item" style="padding:0px;margin:20px;top:35px;">
        <div class="button-bar SourceHanSansCN">
            <a class="button">团购商品</a>
            <a class="button">商品名称</a>
            <a class="button">团购价/原价</a>
            <a class="button">总数量/已售出</a>
            <a class="button">操作</a>
        </div>
    </div>
    <ion-content style="top:200px;bottom:0px;">
        <ion-refresher pulling-text="下拉更新..." on-refresh="groupPurchaseListRefresh()" spinner="ios"></ion-refresher>
        <div class="item Font-Color-LightDark" style="padding: 16px 0px;margin:0px 20px;" ng-repeat="data in groupPurchaseList">
            <div class="button-bar fontVisiable">
                <div class="button button-clear" style="background-position: center;background-repeat: no-repeat;background-size:contain;background-image:url({{data.headImgUrl|imgCdnFilter}})"></div>
                <div class="button button-clear" data-toggle="tooltip" data-placement="top" title="{{data.cargo.title}}">{{data.cargo.title}}</div>
                <div class="button button-clear" data-toggle="tooltip" data-placement="top">{{data.cargo.standards[data.cargoStandardObjectId].originalPrice+" / "+data.cargo.standards[data.cargoStandardObjectId].originalPrice}}</div>
                <div class="button button-clear" data-toggle="tooltip" data-placement="top">{{data.maxNum+" / "+data.statistic.sellNum}}</div>
                <button class="button button-clear SourceHanSansFontBlod" ng-click="delete(data.objectId)" style="color:red; width:100%; z-index:999;">删除</button>
            </div>
        </div>
        <ion-infinite-scroll on-infinite="groupPurchaseListLoadMore()" ng-if="groupPurchaseListShowInfinite" distance="1%" spinner="ios"></ion-infinite-scroll>
        <div class="item-content center-block SourceHanSansCN" style="text-align:center;" ng-hide="groupPurchaseListShowInfinite">
            <p style="font-family:'Microsoft YaHei';font-size:16px;">没有更多啦</p>
        </div>
    </ion-content>
</ion-view>