<!--data-tap-disable="true"-->
<ion-view view-title="私房菜发布" class="ion-view-bg">
    <!--检索功能栏-->
    <div class="form-inline item" style="margin:20px;top:44px;">
        <a class="btn btn-default" ng-click="chooseShop()" style="margin-left:auto;margin-right:auto;">选择社区店铺，获取列表</a>
        <span class="SourceHanSansCN" style="padding:0px 10px;">已选商店：{{shop.name}}<span ng-show="!shop.name">尚未选择</span></span>
        <a ng-click="gotoTopicDetail()" style="float:right;padding: 6px 18px;" class="btn btn-success">创建私房菜</a>
    </div>
    <div class="item" style="padding:0px;margin:20px;top:35px;">
        <div class="button-bar SourceHanSansCN">
            <a class="button">私房菜封面</a>
            <a class="button">私房菜标题</a>
            <a class="button">私房菜描述</a>
            <a class="button">操作</a>
        </div>
    </div>
    <ion-content style="bottom:0px;top:200px;">
        <ion-refresher pulling-text="下拉更新..." on-refresh="topicListRefresh()" spinner="ios"></ion-refresher>
        <div class="item" style="padding: 16px 0px;margin:0px 20px;" ng-repeat="topic in topicList">
            <div class="button-bar fontVisiable">
                <div class="button button-clear" style="background-position: center;background-repeat: no-repeat;background-size:contain;background-image:url({{topic.faceImgUrl|imgCdnFilter}})"></div>
                <div class="button button-clear" data-toggle="tooltip" data-placement="top" title="{{topic.title}}">{{topic.title}}</div>
                <div class="button button-clear" data-toggle="tooltip" data-placement="top" title="{{topic.subTitle}}">{{topic.subTitle}}</div>
                <div class="button button-clear">
                    <a class="button button-clear SourceHanSansFontBlod" ng-click="gotoTopicDetail(topic)" style="color:darkslategray; width:100%; z-index:999;">查看详情</a>
                </div>
            </div>
        </div>
        <ion-infinite-scroll on-infinite="topicListLoadMore()" ng-if="topicListShowInfinite" immediate-check=false spinner="ios"></ion-infinite-scroll>
        <div class="item-content center-block" style="text-align:center;" ng-hide="topicListShowInfinite">
            <p style="font-family:'Microsoft YaHei';font-size:16px;">没有更多啦</p>
        </div>
    </ion-content>
</ion-view>
