<ion-view view-title="代理商店铺" class="ion-view-bg">
    <ion-content class="has-header">
        <div class="row" style="flex-wrap:wrap;-webkit-flex-wrap:wrap">
            <div class="col col-25" ng-repeat="shop in shopList">
                <div class="card" style="background-color:#fff;">
                    <div class="item item-image">
                        <img ng-src="{{shop.faceImgUrl|imgCdnFilter}}" />
                    </div>
                    <div class="item">
                        <h2 class="SourceHanSansCN" style="color:rgba(0,0,0,0.9);margin-bottom:20px;">{{shop.name}}</h2>
                        <a class="btn bg-primary btn-sm" style="float:right;" ng-href="#/main/delegate/delegateCargo/{{shop.objectId}}"> 进入店铺</a>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>